<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;600;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles.css" />
    <title>Watch Video</title>
  </head>
  <body>
    <div class="">
      <div class="search-background">
        <a href="/"><button class="back-home">Back</button></a>
        <form method="GET" action="/search">
          <input
            autocomplete="off"
            class="search-bar search-bar-sm"
            name="search_query"
            id="search-field"
            type="text"
            placeholder="Search"
          />
          <button class="buttons buttons-sm" id="submit-button" type="submit">
            Go
          </button>
        </form>
      </div>
      <div class="search-container max-width">
        <h1 class="centered-text video-name"><%= videotitle %></h1>
        <div class="video"><%- videoPlayer %></div>
      </div>
    </div>
  </body>
</html>
